.App {
    font-family: sans-serif;
    text-align: center;
  }
  /* Define CSS Variables */
  :root {
    --primary-color: #28666e; /* Main color for headings/buttons */
    --secondary-color: #b5b682; /* Accent color */
    --tertiary-color: #7c9885; /* third color */
    --quaternary-color: #fedc97; /* fourth color */
    --text-color: #033f63; /* Main text color */
    --background-color: #f4f4f4; /* Background color */
    --font-family: "Arial", sans-serif; /* Default font */
  }
  
  /* Apply Global Styles */
  body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  /* Styles for headings */
  h1 {
    color: #ffffff;
  }
  
  h2,
  h3 {
    color: var(--primary-color);
  }
  
  /* Styles for buttons */
  button {
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: darken(var(--secondary-color), 10%);
  }
  
  /* Additional styling as needed */
  